<div class='container-column'>
  <header>
    <h1>Galeria</h1>
  </header>

  <select id='year-selector'></select>
  <div id='images-container'></div>
</div>
<script defer type='module' src='/js/gallery.js'></script>