<div class='container-column-row'>
  <header>
    <h1>Valle verde</h1>
    <h1>Reforesta</h1>
  </header>

  <form id='login-form'>
    <h3>Inicia Sesion</h3>
    <p>Inicia sesion para acceder al sitio</p>
    <input id='email' type='text' placeholder='email' />
    <input id='password' type='password' placeholder='password' />
    <button class='btn btn-success' type='submit'>Iniciar sesion</button>
    <p>No tienes una cuenta? <a href='/auth/signup'>Registrate aqui</a></p>
  </form>
</div>
<script defer src='/js/login.js'></script>